*, *::before, *::after {
  box-sizing: border-box;
}
body{
    background-color: #35373E;
}
.container-overflow{
    max-width: 1920px;
    // padding-left: 15px;
    // padding-right: 15px;
    margin: 0 auto;
    // position: relative;
}
.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}
.hidden{
    display: none;
}

.no-focus {
    // Для эксплорера
    -ms-user-select: none;
    // Для мозилы
    -moz-user-select: none;
    // Для конкверора
    -khtml-user-select: none;
    // Для Сафари и Хрома
    -webkit-user-select: none;
}
.no-scroll{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 140px;
    line-height: 171px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #404249;
    @media screen and(max-width: 1235px){
        font-size: 120px;
    } 
    @media screen and(max-width: 1075px){
        font-weight: 900;
        font-size: 100px;
        line-height: 122px;
    } 
    @media screen and(max-width: 895px){
        font-size: 85px;
    } 
    @media screen and(max-width: 769px){
        font-size: 50px;
        line-height: 61px;
    } 
    @media screen and(max-width: 375px){
        font-size: 44px;
        line-height: 61px;
    } 

}
.owl-item{
    opacity: 0.3;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: scale(0.8);
}
.active{
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1;
    transition: 0.3s;
    transform: scale(1);

}
.header__menu--active{
    border-bottom: 1px solid white;
 } 
