.prices {
    background-color: #35373E;
    padding-top: 118px;
    padding-bottom: 132px;
    position: relative;

    @media screen and(max-width: 1075px) {
        padding-top: 95px;
    }
    @media screen and(max-width: 770px) {
        padding-bottom: 40px;

    }
    .prices__title {
        position: absolute;
        top: 0;
        left: -18px;
        span {
            @media screen and(max-width: 450px) {
                opacity: 0;
            }
        } 
        @media screen and(max-width: 767px){
            left: -6px;
        }    
    }
    .prices__slider-wrapper {
            // padding-top: 30px;
            // padding-bottom: 30px;
        .prices-slider {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            // padding-top: 50px;
            // padding-bottom: 50px;
            @media screen and(max-width: 1180px) {
                justify-content: space-around;
            }
            // @media screen and(max-width: 830px){
            // } 
            .card {
                width: 370px;
                height: 530px;
                background-color: #29282F;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.008);
                    transition: 0.1s;
                }
                @media screen and(max-width: 1180px) {
                    width: 300px;
                    height: 400px;
                }
                @media screen and(max-width: 950px) {
                    width: 255px;
                    height: 360px;
                }
                .card__title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 48px;
                    text-align: center;
                    color: #FFFFFF;
                    align-self: center;
                    margin-top: 30px;
                    @media screen and(max-width: 1180px) {
                        font-size: 30px;
                        line-height: 37px;
                    }
                    @media screen and(max-width: 950px) {
                        font-size: 24px;
                        line-height: 29px;
                    }
                }
                .card__price {
                    width: 250px;
                    height: 80px;
                    border-radius: 57px 0px 0px 57px;
                    background-color: #35373E;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    align-self: flex-end;
                    margin-top: 15px;
                    @media screen and(max-width: 1180px) {
                        width: 195px;
                        height: 62px;
                        margin-top: 9px;
                    }
                    @media screen and(max-width: 950px) {
                        width: 150px;
                        height: 40px;
                        // margin-top: 9px;          
                    }
                    .card__price-text {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 64px;
                        color: #FFFFFF;
                        margin-right: 22px;
                        @media screen and(max-width: 1180px) {
                            font-size: 36px;
                            line-height: 44px;
                            margin-right: 20px;
                        }
                        @media screen and(max-width: 950px) {
                            font-size: 24px;
                            line-height: 29px;
                            margin-right: 29px;
                        }
                    }
                }
                .card__services-items {
                    margin-left: 43px;
                    margin-top: 24px;
                    @media screen and(max-width: 1180px) {
                        margin-left: 22px;
                        margin-top: 18px;
                    }
                    @media screen and(max-width: 950px) {
                        margin-left: 18px;
                    }
                    .service-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 21px;
                        // margin-bottom: 31px;
                        @media screen and(max-width: 1180px) {
                            margin-bottom: 12px;
                        }
                        @media screen and(max-width: 1180px) {
                            margin-bottom: 9px;
                        }
                        .card-check-point {
                            width: 17px;
                            height: 13px;
                            margin-right: 13px;
                            @media screen and(max-width: 1180px) {
                                margin-right: 16px;
                                width: 14px;
                                height: 11px;
                            }
                        }
                        .service-item-text {
                            font-family: Comfortaa;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 115%;
                            display: flex;
                            align-items: center;
                            color: #FFFFFF;
                            @media screen and(max-width: 1180px) {
                                font-size: 14px;
                                line-height: 140%;
                            }
                            @media screen and(max-width: 950px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .card__btn-order {
                    width: 200px;
                    height: 50px;
                    border: 2px solid #FFC27B;
                    box-sizing: border-box;
                    border-radius: 70px;
                    font-family: Comfortaa;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    margin-top: 39px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        background-color: #FFC27B;
                        color: #29282F;
                        transition: 0.3s;
                    }
                    @media screen and(max-width: 1180px) {
                        width: 176px;
                        height: 44px;
                        margin-top: 23px;
                    }
                }
            }
        }
    }
}

